/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.info_agent{
  
  
  height: 900px;
  width:70%;
  margin-left: 410px;
  margin-top: -75%;
}
.div1{
 
  height: 250px;
  width: 36%;
  background-color:  #00387a;
  margin-left:10%;

}
.div2{
 
  height: 250px;
  width: 36%;
  background-color:   #00387a;
   margin-left: 45%;
   margin-top: -26.5%;
   color:#f26522; 

}

.div1  table{
  width: 80%;
 height: 150px;
  margin-left: 20%;
  color:#f26522; 


 
}
.div2 table{
  width: 80%;
 height: 100px;
  margin-left: 15%;


}
.titre{
  width: 35%;
  border: 2px #00387a solid;
  margin-left: 30%;


}
.titre h2{
  text-align: center;
}
.list_contrat table {
   border-collapse: collapse; 
   width: 90%;
   margin-left: 5%;
   height: 130px;
}

.list_contrat td,th
{
border: 1px solid black;
text-align: center;
}
th{
  color: #f26522;
  background-color: #00387a;
}
.info_agent a{
  color: #f26522;
  text-decoration:none;
  text-transform: none;
  font-size: 15px;
  font-family: sans-serif;



}
.Ajouter{
  border: 2px#00387a solid;
  width: 13%;
  text-align: center;
  border-radius: 10px;
   background-color: #00387a;
   margin-left: 15%;
}
.nav{
  background-color: #00387a;
  width: 100%;
  height: 50px;

}
.menu{
  position: relative;
  width:20%;
  height: 1000px;
  background-color: #00387a;
  
}

.profile_image{
  width: 60%;
  height: 160px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 50px;
}
ul a{
  text-transform: none;
  text-decoration: none;
  color: #fff;

}

li{
  text-align: center;
  line-height: 80px;
  

}

/* demande crédit */
a* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #00387a;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea ,#msform select {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: gray;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00387a;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #00387a;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #f26522 /* orange à mettre*/
}

#msform .action-button-previous {
    width: 100px;
    background: #00387a/*#00387a*/;
    font-weight: bold;
    color:#fff;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: gray;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: gray;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey

}

#progressbar .active {
    color:#f26522
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #00387a
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #00387a
}

.fit-image {
    width: 100%;
    object-fit: cover
}
strong{
  font-size: 15px;
}